*{
	box-sizing: border-box;
	margin:0;
	padding:0;
	list-style: none;
	text-decoration: none;
}

body{
	font-family: 'Roboto', sans-serif;
	background: #03070a;
    top:0!important;
}

.container{
    width:100%;
    padding: 0 30px;
}

section{
    text-align: center;
}

section h1{
    color: #fff;
    display: inline-block;
    border-bottom: 2px solid #fff;
    margin-top: 30px;
    font-size: 60px;
    font-weight: 400;
    padding-bottom: 5px;
    margin-bottom: 40px;
}

section h2{
    color: #fff;
    font-weight: 600;
    margin-bottom: 22px;
    margin-top: 35px;
}

section p{
    color: #fff;
    font-size: 22px;
    margin-bottom: 18px;
}

.unset{
    text-decoration:underline;
}

#timer{
    font-size: 55px;
    font-weight: 600;
    display: inline-block;
    margin: 10px 0 -8px 0;
}

.timer_text{
    font-size: 55px;
    font-weight: 600;
    display: inline-block;
    margin-left: 10px;
}

.btn{
    text-align: center;
}

.btn a{
    display: inline-block;
    background: #fff;
    text-decoration: none;
    color: #c01818;
    font-size: 34px;
    padding: 12px 89px;
    font-weight: 600;
    margin: 25px 0 10px;
}

.cards img{
    margin: 0 5px;
    width: 55px;
}

.os{
    font-size: 17px;
}

.off{
    background: #c01818;
    padding: 2px 10px;
    display: inline-block;
    margin-left: 15px;
}

.skiptranslate{
    display: none;
}

.VIpgJd-ZVi9od-aZ2wEe-wOHMyf{
    display: none;
}